body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}


#bottom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#bottom-table th,
#bottom-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#bottom-name,
#bottom-exercise,
#bottom-muscle,
#bottom-difficulty {
    cursor: pointer;
}

#bottom-name:hover,
#bottom-exercise:hover,
#bottom-muscle:hover,
#bottom-difficulty:hover {
    background-color: #f2f2f2;
}
