body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#22092C;
    color: white;
}


#bottom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#bottom-table th,
#bottom-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#bottom-name,
#bottom-exercise,
#bottom-muscle,
#bottom-difficulty {
    cursor: pointer;
}

#bottom-name:hover,
#bottom-exercise:hover,
#bottom-muscle:hover,
#bottom-difficulty:hover {
    background-color: white;
}

#initial-exercises-list {
    border: solid;
    border-color: black;
    border-radius: 5px;
    margin: 1.5%;
    background-color: #BE3144;
    color: white;
}

.product-card {
    border: solid;
    border-color: black;
    border-radius: 5px;
    margin: 1%;
    background-color: #F05941;
}

.inner-card-container {
    display: flex;
    justify-content: space-between;
}

#initial-exercises-list p {
    margin: 15px;
}

#initial-exercises-list h3 {
    margin: 15px;
}